/*--------------------
        Form
---------------------*/
.snapW-ui.form {
  position: relative;
  max-width: 100%;
  font-family: $lato;
  letter-spacing: 0.5px;
  text-shadow: none;
}

/*--------------------
        Content
---------------------*/

.snapW-ui.form > p {
  margin: 1em 0em;
}

/*--------------------
        Field
---------------------*/

.snapW-ui.form .field {
  clear: both;
  margin: 0em 0em 1em;
}

/*--------------------
        Labels
---------------------*/

.snapW-ui.form .field > label {
  display: block;
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: $bold;
  text-transform: none;
}

/*--------------------
    Standard Inputs
---------------------*/

/* Set max height on unusual input */
.snapW-ui.form ::-webkit-datetime-edit,
.snapW-ui.form ::-webkit-inner-spin-button {
  height: 1.21428571em;
}
.snapW-ui.form input:not([type]),
.snapW-ui.form input[type="date"],
.snapW-ui.form input[type="datetime-local"],
.snapW-ui.form input[type="email"],
.snapW-ui.form input[type="number"],
.snapW-ui.form input[type="password"],
.snapW-ui.form input[type="search"],
.snapW-ui.form input[type="tel"],
.snapW-ui.form input[type="time"],
.snapW-ui.form input[type="text"],
.snapW-ui.form input[type="file"],
.snapW-ui.form input[type="url"] {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em;
  outline: none;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 1em;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
}

/* Text Area */
.snapW-ui.form textarea {
  margin: 0em;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255, 255, 255, 0);
  padding: 0.78571429em 1em;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 1em;
  line-height: 1.2857;
  resize: vertical;
}
.snapW-ui.form textarea:not([rows]) {
  height: 12em;
  min-height: 8em;
  max-height: 24em;
}
.snapW-ui.form textarea,
.snapW-ui.form input[type="checkbox"] {
  vertical-align: top;
}

/*--------------------------
  Input w/ attached Button
---------------------------*/

.snapW-ui.form input.attached {
  width: auto;
}

/*--------------------
     Basic Select
---------------------*/

.snapW-ui.form select {
  display: block;
  height: auto;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0;
  box-shadow: 0em 0em 0em 0em transparent inset;
  padding: 0.62em 1em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 0.92857143em;
  line-height: 1em;
}

/*--------------------
       Dropdown
---------------------*/


/* Block */
.snapW-ui.form .field > .selection.dropdown {
  width: 100%;
}
.snapW-ui.form .field > .selection.dropdown > .dropdown.icon {
  float: right;
}

/* Inline */
.snapW-ui.form .inline.fields .field > .selection.dropdown,
.snapW-ui.form .inline.field > .selection.dropdown {
  width: auto;
}
.snapW-ui.form .inline.fields .field > .selection.dropdown > .dropdown.icon,
.snapW-ui.form .inline.field > .selection.dropdown > .dropdown.icon {
  float: none;
}

/*--------------------
       snapW-ui Input
---------------------*/

/* Inline  */
.snapW-ui.form .inline.fields .field:not(.wide) .snapW-ui.input,
.snapW-ui.form .inline.field:not(.wide) .snapW-ui.input {
  width: auto;
  vertical-align: middle;
}

/* Auto Input */
.snapW-ui.form .fields .field .snapW-ui.input input,
.snapW-ui.form .field .snapW-ui.input input {
  // width: 80%;
}
/*--------------------
   Types of Messages
---------------------*/

.snapW-ui.form .success.message,
.snapW-ui.form .warning.message,
.snapW-ui.form .error.message {
  display: none;
}

/* Assumptions */
.snapW-ui.form .message:first-child {
  margin-top: 0px;
}

/*--------------------
   Validation Prompt
---------------------*/

.snapW-ui.form .field .prompt.label {
  white-space: normal;
  background: #FFFFFF !important;
  border: 1px solid #E0B4B4 !important;
  color: #9F3A38 !important;
}
.snapW-ui.form .inline.fields .field .prompt,
.snapW-ui.form .inline.field .prompt {
  vertical-align: top;
  margin: -0.25em 0em -0.5em 0.5em;
}
.snapW-ui.form .inline.fields .field .prompt:before,
.snapW-ui.form .inline.field .prompt:before {
  border-width: 0px 0px 1px 1px;
  bottom: auto;
  right: auto;
  top: 50%;
  left: 0em;
}


/*******************************
            States
*******************************/


/*--------------------
      Autofilled
---------------------*/

.snapW-ui.form .field.field input:-webkit-autofill {
  box-shadow: 0px 0px 0px 100px #FFFFF0 inset !important;
  border-color: #E5DFA1 !important;
}

/* Focus */
.snapW-ui.form .field.field input:-webkit-autofill:focus {
  box-shadow: 0px 0px 0px 100px #FFFFF0 inset !important;
  border-color: #D5C315 !important;
}

/* Error */
.snapW-ui.form .error.error input:-webkit-autofill {
  box-shadow: 0px 0px 0px 100px #FFFAF0 inset !important;
  border-color: #E0B4B4 !important;
}

/*--------------------
      Placeholder
---------------------*/


/* browsers require these rules separate */
.snapW-ui.form ::-webkit-input-placeholder {
  color: rgba(191, 191, 191, 0.87);
}
.snapW-ui.form :-ms-input-placeholder {
  color: rgba(191, 191, 191, 0.87);
}
.snapW-ui.form ::-moz-placeholder {
  color: rgba(191, 191, 191, 0.87);
}
.snapW-ui.form :focus::-webkit-input-placeholder {
  color: rgba(115, 115, 115, 0.87);
}
.snapW-ui.form :focus:-ms-input-placeholder {
  color: rgba(115, 115, 115, 0.87);
}
.snapW-ui.form :focus::-moz-placeholder {
  color: rgba(115, 115, 115, 0.87);
}

/* Error Placeholder */
.snapW-ui.form .error ::-webkit-input-placeholder {
  color: #e7bdbc;
}
.snapW-ui.form .error :-ms-input-placeholder {
  color: #e7bdbc !important;
}
.snapW-ui.form .error ::-moz-placeholder {
  color: #e7bdbc;
}
.snapW-ui.form .error :focus::-webkit-input-placeholder {
  color: #da9796;
}
.snapW-ui.form .error :focus:-ms-input-placeholder {
  color: #da9796 !important;
}
.snapW-ui.form .error :focus::-moz-placeholder {
  color: #da9796;
}

/*--------------------
        Focus
---------------------*/

.snapW-ui.form input:not([type]):focus,
.snapW-ui.form input[type="date"]:focus,
.snapW-ui.form input[type="datetime-local"]:focus,
.snapW-ui.form input[type="email"]:focus,
.snapW-ui.form input[type="number"]:focus,
.snapW-ui.form input[type="password"]:focus,
.snapW-ui.form input[type="search"]:focus,
.snapW-ui.form input[type="tel"]:focus,
.snapW-ui.form input[type="time"]:focus,
.snapW-ui.form input[type="text"]:focus,
.snapW-ui.form input[type="file"]:focus,
.snapW-ui.form input[type="url"]:focus {
  color: rgba(0, 0, 0, 0.95);
  border-color: #85B7D9;
  border-radius: 0;
  background: #FFFFFF;
  box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
}
.snapW-ui.form textarea:focus {
  color: rgba(0, 0, 0, 0.95);
  border-color: #85B7D9;
  border-radius: 0;
  background: #FFFFFF;
  box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
  -webkit-appearance: none;
}

/*--------------------
        Success
---------------------*/


/* On Form */
.snapW-ui.form.success .success.message:not(:empty) {
  display: block;
}
.snapW-ui.form.success .compact.success.message:not(:empty) {
  display: inline-block;
}
.snapW-ui.form.success .icon.success.message:not(:empty) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*--------------------
        Warning
---------------------*/


/* On Form */
.snapW-ui.form.warning .warning.message:not(:empty) {
  display: block;
}
.snapW-ui.form.warning .compact.warning.message:not(:empty) {
  display: inline-block;
}
.snapW-ui.form.warning .icon.warning.message:not(:empty) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*--------------------
        Error
---------------------*/


/* On Form */
.snapW-ui.form.error .error.message:not(:empty) {
  display: block;
  color: #fa755a;
  font-size: .8rem;
}
.snapW-ui.form.error .compact.error.message:not(:empty) {
  display: inline-block;
}
.snapW-ui.form.error .icon.error.message:not(:empty) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* On Field(s) */
.snapW-ui.form .fields.error .field label,
.snapW-ui.form .field.error label,
.snapW-ui.form .fields.error .field .input,
.snapW-ui.form .field.error .input {
  color: #9F3A38;
}
.snapW-ui.form .fields.error .field .corner.label,
.snapW-ui.form .field.error .corner.label {
  border-color: #9F3A38;
  color: #FFFFFF;
}
.snapW-ui.form .fields.error .field textarea,
.snapW-ui.form .fields.error .field select,
.snapW-ui.form .fields.error .field input:not([type]),
.snapW-ui.form .fields.error .field input[type="date"],
.snapW-ui.form .fields.error .field input[type="datetime-local"],
.snapW-ui.form .fields.error .field input[type="email"],
.snapW-ui.form .fields.error .field input[type="number"],
.snapW-ui.form .fields.error .field input[type="password"],
.snapW-ui.form .fields.error .field input[type="search"],
.snapW-ui.form .fields.error .field input[type="tel"],
.snapW-ui.form .fields.error .field input[type="time"],
.snapW-ui.form .fields.error .field input[type="text"],
.snapW-ui.form .fields.error .field input[type="file"],
.snapW-ui.form .fields.error .field input[type="url"],
.snapW-ui.form .field.error textarea,
.snapW-ui.form .field.error select,
.snapW-ui.form .field.error input:not([type]),
.snapW-ui.form .field.error input[type="date"],
.snapW-ui.form .field.error input[type="datetime-local"],
.snapW-ui.form .field.error input[type="email"],
.snapW-ui.form .field.error input[type="number"],
.snapW-ui.form .field.error input[type="password"],
.snapW-ui.form .field.error input[type="search"],
.snapW-ui.form .field.error input[type="tel"],
.snapW-ui.form .field.error input[type="time"],
.snapW-ui.form .field.error input[type="text"],
.snapW-ui.form .field.error input[type="file"],
.snapW-ui.form .field.error input[type="url"] {
  background: #FFF6F6;
  border-color: #E0B4B4;
  color: #9F3A38;
  border-radius: '';
  box-shadow: none;
}
.snapW-ui.form .field.error textarea:focus,
.snapW-ui.form .field.error select:focus,
.snapW-ui.form .field.error input:not([type]):focus,
.snapW-ui.form .field.error input[type="date"]:focus,
.snapW-ui.form .field.error input[type="datetime-local"]:focus,
.snapW-ui.form .field.error input[type="email"]:focus,
.snapW-ui.form .field.error input[type="number"]:focus,
.snapW-ui.form .field.error input[type="password"]:focus,
.snapW-ui.form .field.error input[type="search"]:focus,
.snapW-ui.form .field.error input[type="tel"]:focus,
.snapW-ui.form .field.error input[type="time"]:focus,
.snapW-ui.form .field.error input[type="text"]:focus,
.snapW-ui.form .field.error input[type="file"]:focus,
.snapW-ui.form .field.error input[type="url"]:focus {
  background: #FFF6F6;
  border-color: #E0B4B4;
  color: #9F3A38;
  -webkit-appearance: none;
  box-shadow: none;
}

/* Preserve Native Select Stylings */
.snapW-ui.form .field.error select {
  -webkit-appearance: menulist-button;
}

/*------------------
    Dropdown Error
--------------------*/

.snapW-ui.form .fields.error .field .snapW-ui.dropdown,
.snapW-ui.form .fields.error .field .snapW-ui.dropdown .item,
.snapW-ui.form .field.error .snapW-ui.dropdown,
.snapW-ui.form .field.error .snapW-ui.dropdown .text,
.snapW-ui.form .field.error .snapW-ui.dropdown .item {
  background: #FFF6F6;
  color: #9F3A38;
}
.snapW-ui.form .fields.error .field .snapW-ui.dropdown,
.snapW-ui.form .field.error .snapW-ui.dropdown {
  border-color: #E0B4B4 !important;
}
.snapW-ui.form .fields.error .field .snapW-ui.dropdown:hover,
.snapW-ui.form .field.error .snapW-ui.dropdown:hover {
  border-color: #E0B4B4 !important;
}
.snapW-ui.form .fields.error .field .snapW-ui.dropdown:hover .menu,
.snapW-ui.form .field.error .snapW-ui.dropdown:hover .menu {
  border-color: #E0B4B4;
}
.snapW-ui.form .fields.error .field .snapW-ui.multiple.selection.dropdown > .label,
.snapW-ui.form .field.error .snapW-ui.multiple.selection.dropdown > .label {
  background-color: #EACBCB;
  color: #9F3A38;
}

/* Hover */
.snapW-ui.form .fields.error .field .snapW-ui.dropdown .menu .item:hover,
.snapW-ui.form .field.error .snapW-ui.dropdown .menu .item:hover {
  background-color: #FBE7E7;
}

/* Selected */
.snapW-ui.form .fields.error .field .snapW-ui.dropdown .menu .selected.item,
.snapW-ui.form .field.error .snapW-ui.dropdown .menu .selected.item {
  background-color: #FBE7E7;
}

/* Active */
.snapW-ui.form .fields.error .field .snapW-ui.dropdown .menu .active.item,
.snapW-ui.form .field.error .snapW-ui.dropdown .menu .active.item {
  background-color: #FDCFCF !important;
}

/*--------------------
    Checkbox Error
---------------------*/

.snapW-ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) label,
.snapW-ui.form .field.error .checkbox:not(.toggle):not(.slider) label,
.snapW-ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) .box,
.snapW-ui.form .field.error .checkbox:not(.toggle):not(.slider) .box {
  color: #9F3A38;
}
.snapW-ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) label:before,
.snapW-ui.form .field.error .checkbox:not(.toggle):not(.slider) label:before,
.snapW-ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) .box:before,
.snapW-ui.form .field.error .checkbox:not(.toggle):not(.slider) .box:before {
  background: #FFF6F6;
  border-color: #E0B4B4;
}
.snapW-ui.form .fields.error .field .checkbox label:after,
.snapW-ui.form .field.error .checkbox label:after,
.snapW-ui.form .fields.error .field .checkbox .box:after,
.snapW-ui.form .field.error .checkbox .box:after {
  color: #9F3A38;
}

/*--------------------
       Disabled
---------------------*/

.snapW-ui.form .disabled.fields .field,
.snapW-ui.form .disabled.field,
.snapW-ui.form .field :disabled {
  pointer-events: none;
  opacity: 0.45;
}
.snapW-ui.form .field.disabled > label,
.snapW-ui.form .fields.disabled > label {
  opacity: 0.45;
}
.snapW-ui.form .field.disabled :disabled {
  opacity: 1;
}

/*--------------
    Loading
---------------*/

.snapW-ui.loading.form {
  position: relative;
  cursor: default;
  pointer-events: none;
}
.snapW-ui.loading.form:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  z-index: 100;
}
.snapW-ui.loading.form:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: -1.5em 0em 0em -1.5em;
  width: 3em;
  height: 3em;
  -webkit-animation: form-spin 0.6s linear;
          animation: form-spin 0.6s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #767676 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0.2em;
  box-shadow: 0px 0px 0px 1px transparent;
  visibility: visible;
  z-index: 101;
}
@-webkit-keyframes form-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes form-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/*******************************
         Element Types
*******************************/


/*--------------------
     Required Field
---------------------*/

.snapW-ui.form .required.fields:not(.grouped) > .field > label:after,
.snapW-ui.form .required.fields.grouped > label:after,
.snapW-ui.form .required.field > label:after,
.snapW-ui.form .required.fields:not(.grouped) > .field > .checkbox:after,
.snapW-ui.form .required.field > .checkbox:after {
  margin: -0.2em 0em 0em 0.2em;
  content: '*';
  color: #DB2828;
}
.snapW-ui.form .required.fields:not(.grouped) > .field > label:after,
.snapW-ui.form .required.fields.grouped > label:after,
.snapW-ui.form .required.field > label:after {
  display: inline-block;
  vertical-align: top;
}
.snapW-ui.form .required.fields:not(.grouped) > .field > .checkbox:after,
.snapW-ui.form .required.field > .checkbox:after {
  position: absolute;
  top: 0%;
  left: 100%;
}


/*******************************
           Variations
*******************************/

/*--------------------
     Field Groups
---------------------*/


/* Grouped Vertically */
.snapW-ui.form .grouped.fields {
  display: block;
  margin: 0em 0em 1em;
}
.snapW-ui.form .grouped.fields:last-child {
  margin-bottom: 0em;
}
.snapW-ui.form .grouped.fields > label {
  margin: 0em 0em 0.28571429rem 0em;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: $bold;
  text-transform: none;
}
.snapW-ui.form .grouped.fields .field,
.snapW-ui.form .grouped.inline.fields .field {
  display: block;
  margin: 0.5em 0em;
  padding: 0em;
}

/*--------------------
        Fields
---------------------*/


/* Split fields */
.snapW-ui.form .fields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0em 0em 1em;
}
.snapW-ui.form .fields > .field {
  // -webkit-box-flex: 0;
  // -webkit-flex: 0 1 auto;
  //     -ms-flex: 0 1 auto;
  //         flex: 0 1 auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.snapW-ui.form .fields > .field:first-child {
  border-left: none;
  box-shadow: none;
}

/* Sizing Combinations */
.snapW-ui.form .fields .wide.field {
  width: 6.25%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.snapW-ui.form .one.wide.field {
  width: 6.25% !important;
}
.snapW-ui.form .two.wide.field {
  width: 12.5% !important;
}
.snapW-ui.form .three.wide.field {
  width: 18.75% !important;
}
.snapW-ui.form .four.wide.field {
  width: 25% !important;
}
.snapW-ui.form .five.wide.field {
  width: 31.25% !important;
}
.snapW-ui.form .six.wide.field {
  width: 37.5% !important;
}
.snapW-ui.form .seven.wide.field {
  width: 43.75% !important;
}
.snapW-ui.form .eight.wide.field {
  width: 50% !important;
}
.snapW-ui.form .nine.wide.field {
  width: 56.25% !important;
}
.snapW-ui.form .ten.wide.field {
  width: 62.5% !important;
}
.snapW-ui.form .eleven.wide.field {
  width: 68.75% !important;
}
.snapW-ui.form .twelve.wide.field {
  width: 75% !important;
}
.snapW-ui.form .thirteen.wide.field {
  width: 81.25% !important;
}
.snapW-ui.form .fourteen.wide.field {
  width: 87.5% !important;
}
.snapW-ui.form .fifteen.wide.field {
  width: 93.75% !important;
}
.snapW-ui.form .sixteen.wide.field {
  width: 100% !important;
}

/* Swap to full width on mobile */
@media only screen and (max-width: 767px) {
  .snapW-ui.form .two.fields > .fields,
  .snapW-ui.form .two.fields > .field,
  .snapW-ui.form .three.fields > .fields,
  .snapW-ui.form .three.fields > .field,
  .snapW-ui.form .four.fields > .fields,
  .snapW-ui.form .four.fields > .field,
  .snapW-ui.form .five.fields > .fields,
  .snapW-ui.form .five.fields > .field,
  .snapW-ui.form .fields > .two.wide.field,
  .snapW-ui.form .fields > .three.wide.field,
  .snapW-ui.form .fields > .four.wide.field,
  .snapW-ui.form .fields > .five.wide.field,
  .snapW-ui.form .fields > .six.wide.field,
  .snapW-ui.form .fields > .seven.wide.field,
  .snapW-ui.form .fields > .eight.wide.field,
  .snapW-ui.form .fields > .nine.wide.field,
  .snapW-ui.form .fields > .ten.wide.field,
  .snapW-ui.form .fields > .eleven.wide.field,
  .snapW-ui.form .fields > .twelve.wide.field,
  .snapW-ui.form .fields > .thirteen.wide.field,
  .snapW-ui.form .fields > .fourteen.wide.field,
  .snapW-ui.form .fields > .fifteen.wide.field,
  .snapW-ui.form .fields > .sixteen.wide.field {
    width: 100% !important;
  }
  .snapW-ui.form .fields {
    margin-bottom: .5em;
  }
}

/*--------------------
     Equal Width
---------------------*/

.snapW-ui[class*="equal width"].form .fields > .field,
.snapW-ui.form [class*="equal width"].fields > .field {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}


/*--------------------
        Sizes
---------------------*/

.snapW-ui.mini.form {
  font-size: 0.78571429rem;
}
.snapW-ui.tiny.form {
  font-size: 0.85714286rem;
}

/*-----------------------
      Custom
-------------------------*/
.dropin-container {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px;
}

.snapW-form {
  margin: 8px;
}

.snapW-subtitle + .snapW-subtitle {
  margin-left: 10px;
}

.snapW-form-flex-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    justify-content: flex-start;
  }

  &-info {
    @media only screen and (max-width: 767px) {
      justify-content: space-between;
    }

    .field + .field {
      margin-left: 1em;
    }
  }

  &--right {
    justify-content: flex-end;
  }
}

.snapW-input-third {
  flex: 1;

  /* Swap to full width on mobile */
  @media only screen and (max-width: 767px) {
    margin-bottom: 1em;
    flex: 1 0 100%;
  }
}


.field.snapW-input-third .snapW-ui.input {
  width: 83%;

  /* Swap to full width on mobile */
  @media only screen and (max-width: 767px) {
    width: 92%;
  }
}



.snapW-field-descriptiion {
  min-width: min-content;
}

.snapW-quantity {
  text-align: center;
}

.snapW-main-text {
  font-weight: $regular;
  margin: 5px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snapW-subtitle {
  font-size: 12px;
}

.snapW-field-description {
  text-align: center;
}

.snapW-field-left {
  text-align: left;
}

.snapW-stripe--container {
  border: 1px solid $lightGray;
}

.StripeElement {
  background-color: white;
  font-family: $lato;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
