/*******************************
             Modal
*******************************/

.ui.page.visible.dimmer {
  display: block;
  opacity: 0.7;
}

.ui.page.dimmer {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 800;
  opacity: 0;
  transition: opacity 0.5s ease-out 0s;
  transform-style: '';
  transform-origin: center center;
  background: #000;
}

.ui.modal {
  position: fixed;
  z-index: 1001;
  top: -170%;
  left: 50%;
  text-align: left;
  background: #FFFFFF;
  border: none;
  transition: top 0.7s ease-in-out 0.1s;
  box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2), 1px 3px 15px 2px rgba(0, 0, 0, 0.2);
  transform-origin: 50% 25%;
  border-radius: 0;
  user-select: text;
  will-change: top, left, margin, transform, opacity;

}
.ui.modal > :first-child:not(.icon),
.ui.modal > .icon:first-child + * {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ui.modal > :last-child {
  border-bottom-left-radius: 0.28571429rem;
  border-bottom-right-radius: 0.28571429rem;
}

/*******************************
            Content
*******************************/


/*--------------
     Close
---------------*/

.ui.modal > .close {
  cursor: pointer;
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  z-index: 1;
  opacity: 0.8;
  font-size: 1.25em;
  color: #FFFFFF;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.625rem 0rem 0rem 0rem;
}
.ui.modal > .close:hover {
  opacity: 1;
}

/*--------------
     Content
---------------*/

.ui.modal > .content {
  display: block;
  width: 100%;
  font-size: 1em;
  line-height: 1.4;
  padding: 1.5rem;
  background: #FFFFFF;
}
.ui.modal > .image.content {
  display: flex;
  flex-direction: row;
}

/*******************************
             States
*******************************/

.ui.active.modal {
  display: block;
  top: 15%;
}


/*******************************
           Variations
*******************************/

/*--------------
      Size
---------------*/

.ui.modal {
  font-size: 1rem;
}

/* Small */
.ui.small.modal > .header:not(.ui) {
  font-size: 1.3em;
}

/* Small Modal Width */
@media only screen and (max-width: 667px) {
  .ui.small.modal {
    width: 97.4%;
    margin: 0em 0em 0em -47.5%;
  }
}
@media only screen and (min-width: 668px) {
  .ui.small.modal {
    width: 60.4%;
    margin: 0em 0em 0em -29.2%;
  }
}
@media only screen and (min-width: 992px) {
  .ui.small.modal {
    width: 550px;
    margin: 0em 0em 0em -340px;
  }
}
@media only screen and (min-width: 1200px) {
  .ui.small.modal {
    width: 620px;
    margin: 0em 0em 0em -360px;
  }
}
@media only screen and (min-width: 1920px) {
  .ui.small.modal {
    width: 660px;
    margin: 0em 0em 0em -380px;
  }
}
