.snapW-Confirmation {
  font-family: $lato;
  text-align: center;
}

.snapW-Confirmation-title {
  font-size: 54px;
  font-weight: $bold;
  margin: 16px;
}

.snapW-Confirmation-text {
  font-size: 16px;
  font-weight: $regular;
}
