$blue: #0F346C;
$lightBlue: #7581a7;
$darkBlue: #00214C;
$borderBlue: #1f2140;
$borderDarkBlue: #1f2140;
$toggleHoverBlue: #002F6C;

$gray: #737373;
$darkGray: #555;
$darkerGray: #404040;
$lightGray: #ccc;
$lighterGray: #e6e6e6;
$lighterGrayNav: #f7f7f7;
$lightBlueGray: #f7f7f9;
$toggleDefaultGray: #6e7194;
$toggleHoverGray: #cbccd9;

$white: #ffffff;
$offWhite: #fafafc;

$green: #3ac25b;
$grossGreen: #00A979;

$orange: #f26226;
$lightOrange: #ff6c2f;
$semiDarkOrange: #e7581d;
$darkOrange: #e7581d;

$red: #d64148;
$errorRed: #d64148;

$cancel: #9e3a00;

$linkColor: $blue;

$footerBorder: #204778;

$alertWarning: #c09853;
$alertWarningDark: #fbeed5;
$alertWarningText: #fcf8e3;

$alertError: #e56c5c;
$alertErrorDark: #eed3d7;
$alertErrorText: #ffd2cc;

$alertSuccess: #3ac25b;
$alertSuccessDark: #d6e9c6;
$alertSuccessText: #d3ebce;

$alertInfo: #3a87ad;
$alertInfoDark: #bce8f1;
$alertInfoText: #d9edf7;
