.snapW-Content {
  box-sizing: border-box;
  padding: 1em;
  margin: 0;
  font-size: $medium;
  overflow: hidden;
  font-family: $lato;
}

.snapW-Content__text {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 20px;
  text-overflow: ellipsis;
}

.snapW-Content__title {
  font-size: 1em;
  font-weight: bold;
  color: $blue;
  line-height: 22px;
}

.snapW-Content__subtitle {
  font-size: 0.875em;
  color: $gray;
}

.snapW-Content__subtitle--is-bold {
  font-weight: $med;
}

.snapW-Content__tagline {
  font-size: 0.875em;
  color: $gray;
}

.snapW-Card--is-bordered {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid #E4E6EB;

  &:hover {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2), inset 0 0 0 1px rgba(240,242,247,1);
  }
}

.snapW-Card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.08);
  transition: box-shadow 0.3s ease-in-out;
  font-family: $lato;
  background-color: $white;

  &--landscape {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &--portrait {
    flex-direction: column;
    border: 1px solid #E4E6EB;
    margin: 2px;
  }

  &--small {
    width: 220px;
  }

  &--medium {
    width: 283px;
  }

  &--large {
    width: 350px;
  }
}

.snapW-Card__Header {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &--portrait {
    flex: 2;
    min-height: 250px;
  }
}

.snapW-Card__Body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--portrait {
    flex: 1;
    min-height: 100px;
  }
}

.snapW-SubSection--Link--Button {
  background-color: inherit;
  border: 0;
  text-align: left;
  margin: 0 0 1em 10px;
  font-family: $lato;
  font-size: $xsmall;
  color: $gray;
}

.snapW-SubSection {
  text-align: left;
  margin: 0 1em 1em;
  font-family: $lato;
  font-size: $xsmall;
  color: $gray;
  height: auto;

  p {
    margin: 0;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 6px;
  }

  ul {
    margin: 0;
    padding-left: 20px;
  }
}
