.coup-Cards {
  display: flex;
  flex-wrap: wrap;
  background-color: $white;

  &--column {
    flex-direction: column;
    justify-content: flex-start;
  }

  &--row {
    justify-content: space-around;
  }
}
